<!DOCTYPE html>
<html>
<title>comments</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald"
  }

  body {
    font-family: "Open Sans"
  }
</style>

<body class="w3-light-grey">
  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1600px">

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">


        <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Comments.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>{% for comment in comments %}
            <div class="w3-content">
              <h2>from: {{ comment.user }}</h3>
              <h4><span class="w3-opacity">{{ comment.text }}</span></h5>
              <h6><span class="w3-opacity">{{ comment.date }}</span></h5>
            </div>
            {% endfor %}</p>
            <form action="action_page.php" target="_blank" method="POST">
              <div class="w3-section">
                <label>Name</label>
                <input class="w3-input w3-border" type="text" name="Name" required>
              </div>
              <div class="w3-section">
                <label>Pic_ID</label>
                <input class="w3-input w3-border" type="number" name="Pic_ID" required>
              </div>
              <div class="w3-section">
                <label>Message</label>
                <input class="w3-input w3-border" type="text" name="Message" required>
              </div>
              <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send
                Message</button>
            </form>
          </div>
        </div>




        <script>
          // Toggle between hiding and showing blog replies/comments
          // document.getElementById("myBtn").click();
          // function myFunction(id) {
          //   var x = document.getElementById(id);
          //   if (x.className.indexOf("w3-show") == -1) {
          //     x.className += " w3-show";
          //   } else { 
          //     x.className = x.className.replace(" w3-show", "");
          //   }
          // }

          // $(document).ready(function(){
          //     $('.w3-button').click(function(){
          //         var clickBtnValue = $(this).val();
          //         var ajaxurl = 'ajax.php',
          //         data =  {'action': clickBtnValue};
          //         $.post(ajaxurl, data, function (response) {
          //             // Response div goes here.
          //             alert("action performed successfully");
          //         });
          //     });
          // });

          function likeFunction(x) {
            x.style.fontWeight = "bold";
            x.innerHTML = "✓ Liked";
          }
        </script>

</body>

</html>